# Pthon venv
venv

# contracts
contracts/.env
contracts/.history
contracts/.hypothesis/
contracts/build/
contracts/reports/
contracts/**/__pycache__
contracts/dependencies
contracts/**/flat_**

client/node_modules
client/.next%